// Neutrals Colors
$oxfordBlue: #000539;
$spaceCadet: #373957;
$purpleNavy: #474a75;
$darkBlueGray: #5c6095;
$rythm: #7376aa;
$blueBelt: #9fa1c8;
$lavenderGray: #c7c8dd;
$almostWhite: #e8e8f0;
$whityWhite: #f6f6f6;
$white: #ffffff;

//Calyptia Pure Brand Colors

$mediumBlue: #3300BF;
$bluetiful: #0049E9;
$dodgerBlue: #0199FF;
$purplePizzaz: #FF55EC;
$maximBluePurple: #B3A9FF;
$mediumAquamarine: #2BF497;
$aqua: #3FFFFC;

//Semantic Colors
$successText: #32C280;
$dangerText: #F42A4E;


//NEXT: Calculate primary colors shades/tones